<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Home Page</title>
</head>
<body>
  <h1 >dREMr</h1>
    <div id="wrapper">
      <div class="container">
        <div class="login-form right">
            <a href="/sign_out">Sign Out</a>
          </div>
         <div class="nav">
            <ul>
              <li><a href="/home_page">Home Page</a></li>
              <li><a href="/journal">Jounal</a></li>
              <li><a href="/sleep_profile">Sleep Profile</a></li>
              <li><a href="/sleep_info">Sleep Info</a></li>
            </ul>

          </div>
        </div> <!-- end of header -->

      <div class="hero-unit cf">
      <div class="container">
        <div class="widget left">
          <div class="current-task">
          <span id="current"></span>
          <button class="right">Calculate</button>
          <p>Calculate When To Go to Bed</p>

          </div> <!-- end div.current-task -->
          <div class="task-list">
            <ul>
              <li>Sleep Cycles For The Week <span class="right">x/28 Cyles</span></li>
              <li>Sleep Cycles for previous Day <span class="right">x/4 Cyles</span></li>
              <li><a href="#">+ Add new task</a></li>
            </ul>
          </div> <!-- end div.task-list -->

          <form class="form" method="post" action="/sleep_entry">
              <div>
                <label style="padding-left: 150px; color: blue;"for="Sleep Time">Sleep Time:</label>
                <input type="time" id="sleep_entry" name="sleep" />
                <label style="padding-left: 150px; color: blue;"for="Wake Time">Wake Time:</label>
                <input type="time" id="wake_entry" name="wake" />
              </div>
          </form>
        </div> <!-- end div.widget -->

      </div> <!-- end div.container -->
      </div> <!-- end div.hero-unit -->


      </div> <!-- end div container -->

    </div> <!-- end div.header -->
</body>
</html>
