<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Home Page</title>
</head>
<body>
  <h1 >dREMr</h1>
    <div id="wrapper">
      <div class="container">
        <div class="login-form right">
            <a href="/sign_out">Sign Out</a>
          </div>
         <div class="nav">
            <ul>
              <li><a href="/home_page">Home Page</a></li>
              <li><a href="/journal">Jounal</a></li>
              <li><a href="/sleep_profile">Sleep Profile</a></li>
              <li><a href="/sleep_info">Sleep Info</a></li>
            </ul>

          </div>
        </div> <!-- end of header -->

      <div class="hero-unit cf">
      <div class="container">
        <div style="color:black;" class="widget left">
          <h1 style="color:black;">Your Past Entries:</h1>
          <ul>
            <% @entries.each do |entry| %>
              <li style="color:black;">
                <h2 style="color:black;"><a style="color:black;" href="/entries/<%= entry.id %>"><%= entry.title %></a>
                </h2>
              </li>
            <% end %>
        </div> <!-- end div.widget -->

      </div> <!-- end div.container -->
      </div> <!-- end div.hero-unit -->


      </div> <!-- end div container -->

    </div> <!-- end div.header -->
</body>
</html>
