<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Journal Entry</title>
</head>
<body>
  <h1>Home:</h1>
  <div class="container">

  </div> <!-- end of container -->
</body>
</html>
