<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Home Page</title>
</head>
<body>
  <h1>dREMr</h1>
    <div id="wrapper">
      <div class="container">
         <div class="nav">
            <ul>
              <li><a href="/home_page">Home Page</a></li>
              <li><a href="/journal">Jounal Entry</a></li>
              <li><a href="/sleep_profile">Sleep Profile</a></li>
              <li><a href="/sleep_info">Sleep Info</a></li>
            </ul>
          </div>

          <%= yield %>

        </div> <!-- end of header -->
      </div> <!-- end div container -->
    </div> <!-- end div.header -->
</body>
</html>
