<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Dreamer</title>
</head>
<body>
  <div id="wrapper">
    <div class="container">
      <div class="header">
          <div id="title">
            <h2>Dreamer</h2>
          </div>
          <ul class="main-menu">
              <li>About</li>
              <li>Info</li>
          </ul>
          <div class="login-form right">
            <a href="/sign_in">Sign In</a>
          </div>
          <div class="login-form right">
            <a href="/sign_up">Sign Up</a>
          </div>
      </div> <!-- end div.header -->
    </div> <!-- end div.header -->

    <div class="top">
      <h1>Calculate Your Wake Time!</h1>
      <div class="calculator">

      </div>
    </div>
  </div> <!-- nd div.wrapper -->







</body>
</html>
