<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Dreamer</title>
</head>
<body>
  <div class="container">
    <div class="header">
        <div id="title">
          <h2>Dreamer</h2>
        </div>
        <ul class="main-menu">
            <li>Signup</li>
            <li>About</li>
            <li>Info</li>
        </ul>
        <div class="login">
          Log In
        </div>
    </div> <!-- end div.header -->
  </div> <!-- end div.header -->









</body>
</html>
