<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Dreamer</title>
</head>
<body>
  <div id="wrapper">
    <div class="container">
      <div class="header">
          <div id="title">
            <h2>dREMr</h2>
          </div>
          <ul class="main-menu">
              <li>REM Sleep Calculator and Dream Journal</li>
              <li></li>
          </ul>
          <div class="login-form right">
            <a href="/sign_in">Sign In</a>
          </div>
          <div class="login-form right">
            <a href="/sign_up">Sign Up</a>
          </div>
      </div> <!-- end div.header -->
    </div> <!-- end div.header -->

    <div class="top">
      <h1>Calculate Your Wake Time!</h1>
      <div class="calculator">
          <label id="get_time"style="font-size:180%; color: Orange;"for="Sleep Time">Enter Sleep Time:</label>
          <input style="font-size:150%;" type="time" id="sleep_entry" name="sleep" />
          <div>
          <input id="calulate_time" style="margin-left: 167px;"class="button" type="submit" value="Calculate">
          </div>
      </div>
    </div>
  </div> <!-- nd div.wrapper -->







</body>
</html>
