* {

  box-sizing: border-box;
}

body {
  background: url(assets/city.jpg);
  margin:0;
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
}

#wrapper {
  background: url(assets/trans.png) repeat;
  display: block;
  min-height: 100%;
  max-width: 1020px;
  min-width: 640px;
  margin: 0 auto;
  height: 800px;
  border-radius: 6px;
 /* border-right: 1px solid #bfc6c7;
  border-left: 1px solid #bfc6c7;*/

}


.container {
  width:1088px;
  margin: 0 auto;
  display: inline;
  opacity: .6;
}

.top {
  display: block;
  width: 100%;
  height: 620px;
  background: url('./assets/designer.jpg') repeat;
  background-position: right;
  background-size: 1020px 470px;
  /*border-bottom: 1px solid #bfc6c7*/
}

.calculator{
  width: 500px;
  display: block;
  height: 300px;
  background: white;
  margin-left: 255px;
  border-radius: 3px;
}

.nav {
  width: 100%;
  height: 50px;
  background: black;
  display: inline-block;
}

.nav ul li {
  color: white;
  font-size: 100%;
  display: inline;
  list-style-type: none;
  padding: 70px
}
/* END RESETS */

/* HEADER STYLING*/
.header {
  /*margin-top: 25px;*/
  padding: 35px 20px 75px 0px;
  position:relative;
}

#title {
  display: inline;
  float:left;
  color: white;
  font-size: 150%;
  padding-left: 50px;
}

div.header ul {
  list-style-type: none; /* removes bullets from a list */
  margin:0px;
  padding-top: 40px;
  color: white;

}

div.header ul li {
  display:inline;
  margin-left: 30px;
  text-transform: uppercase;
  font-size:0.88em;
}


.hero-unit {
  padding-top:160px;
  background-image:url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  height: 606px;
  border-radius: 6px;
}

.journal {
  width: 100%;
  height: 700px;
  /*background: blue;*/
  padding-top: 100px;

}

.jnl {
  padding-top: 50px;
  width: 70%;
  margin-left: 150px;
}

.jnl input{
  margin-left: 100px;
}

lable .journal {
float: left;
}

.widget {
  width: 100%;
  padding: 20px 5px 5px 10px;
  background-color: white;
  border-radius: 6px;
}

  .widget ul {
    margin:10;
    padding-left:0;
  }
  .widget li {
    list-style-type: none;
    margin:0;
    border-top: 1px solid #e6e6e6;
    padding: 15px 30px 10px;
    color: #a0a0a0;
  }

.current-task {
  padding: 30px;
}
  .current-task button {

    width: 110px;
    height: 55px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #FCF5F5;
    font-size: 16px;
    border-radius: 3px;
    font-family: Helvetica;
    text-transform: uppercase;
    border: 0;
  }

  .current-task span {
      font-size: 2.5em;
      font-weight: 300;
      color: red;
  }

  .current-task p {
    margin-top: 0;
    font-size: 1.5em;
  }

.login-form {
  background: url(assets/trans.png) repeat;
  position:relative;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  border: #e0e0e0 1px solid;
  padding:5px;
  margin-left: 30px;

}

.form {
  color: white;
  font-size: 170%;
}

.form div{
  padding: 5px;
}


label {
  position: relative;
  width: 50px;
  padding-left: 50px;

}

input{
  font-size: 100%;

}

.button {
  background-image: linear-gradient(to bottom,#8dcc35,#47a204);
  border:none;
  padding:15px 37px;
  color:white;
  font-size:20px;
  border-radius: 3px;
  border-color: green;
  /*background: url(assets/trans.png) repeat;*/
}

a {
  text-decoration: none;
  color: white;
}
/* END HEADER STYLING */
.main-menu {
  padding:5px 0 0 10px;
}

h1 {
  color: white;
  text-align: center;

}

.left {
  float:left;
}

.right{
  float: right
}

